<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>南京航空航天大学</string>
		<key>image</key>
		<string>nuaaBadge</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hitBadge</string>
		<key>name</key>
		<string>哈尔滨工业大学</string>
	</dict>
	<dict>
		<key>name</key>
		<string>武汉大学</string>
		<key>image</key>
		<string>wuhanBadge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南京工业大学</string>
		<key>image</key>
		<string>ntuBadge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>同济大学</string>
		<key>image</key>
		<string>tongjiBadge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南京信息工程大学</string>
		<key>image</key>
		<string>nuisBadge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>浙江大学</string>
		<key>image</key>
		<string>zhedaBadge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南京林业大学</string>
		<key>image</key>
		<string>nfuBadge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南京师范大学</string>
		<key>image</key>
		<string>nmuBadge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海财经大学</string>
		<key>image</key>
		<string>sufeBadge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海交通大学</string>
		<key>image</key>
		<string>sjtuBadge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>复旦大学</string>
		<key>image</key>
		<string>fudanBadge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中国人民大学</string>
		<key>image</key>
		<string>rucBadge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南京理工大学</string>
		<key>image</key>
		<string>nustBadge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>北京大学</string>
		<key>image</key>
		<string>pekingBadge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>清华大学</string>
		<key>image</key>
		<string>TsinghuaBadge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>东南大学</string>
		<key>image</key>
		<string>dongnanBadge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南京大学</string>
		<key>image</key>
		<string>badge</string>
	</dict>
</array>
</plist>
